body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 3rem;
    background: #dcf6f7 !important;
    }




.container-fluid{
    max-width: 1366px;
}


/* logo */

.navbar-brand img{
    height: 60px;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #18898e75;
}



/* home slider */
.bb-slider .carousel-inner .carousel-item{
    max-width: 1360px;
    max-height: 660px;
}

.bb-slider .carousel-inner .carousel-item img{
   width: 100%;
   max-height: 660px;
   
}

/* carousel caption */

.bb-slider .carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.bb-slider .carousel-item{
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}




/* search box */

.bb-searchbox .card{
    z-index: 1;
    top: -50%;
    border-radius: 10px;
    padding: 20px;
}

.bb-searchbox .text-search{
    color: #6c757d63;
}

.bb-searchbox i{
    color: #fff;
    padding: 0;
    margin: 0;
    transition: transform .7s ease-in-out;
}
.bb-searchbox i:hover, .bb-searchbox .btn:hover > i{
    color: #07f4ff;
    transform: rotate(360deg);
   
}



.bb-searchbox .form-control-lg, .bb-searchbox .btn {
    height: calc(2.5em + 1rem + 2px);
    border-radius: 0 !important;
}


.bb-searchbox .form-control{
    background-color: #e1f7fb;
}

.bb-searchbox .form-control:focus {
    color: #000000;
    background-color: #eca78c;
    border-color: #d29842;
    outline: 0;
    box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
}




/* featured business */
/* FontAwesome for working BootSnippet :> */
#featured-business{
    background-color: #e2e2e2;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -20%;
    padding-top: 15%;
}


.btn-outline-success{
    color:#108d6f !important;
    border-color: #108d6f;
}

.btn-outline-success:hover,  .btn-outline-success:focus,  .btn-primary:hover,
 .btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
    color: #fff!important;
}

#featured-business  .btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}



 .section-title {
    text-align: center;
    color: #007b5e;
    /* margin-bottom: 30px; */
    margin-top: 35px;
    text-transform: uppercase;
}



#featured-business .image-flip:hover .backside,
#featured-business .image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

#featured-business .image-flip:hover .frontside,
#featured-business .image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#featured-business .mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

#featured-business .frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
}

#featured-business .backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    width: 100%;
    height: 100%;
}

#featured-business .frontside,
#featured-business .backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}



.bb-social-media i{
    font-size: 35px;
    color: #007b5e;

}

.bb-social-media i.fa-instagram:hover{
    color: rgb(64,93,230)

}

.bb-social-media i.fa-skype:hover{
   
    color: rgb(0,175,240)

}

.bb-social-media i.fa-facebook-f:hover{
   
    color: rgb(59,89,152)

}

.bb-social-media i.fa-twitter:hover{
   
    color: rgb(0,172,238)

}

.bb-social-media i.fa-youtube:hover{
   
    color: rgb(255,0,0)

}



#featured-business .frontside .card,
#featured-business .backside .card {
    min-height: 312px;
    height: 100%;
}

#featured-business .backside .card a i{
    font-size: 18px;
    color: #007b5e !important;
}

#featured-business .frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

#featured-business .frontside .card .card-body img {
    max-width: 380px;
    max-height: 255px;
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */
}


/* top destination */

.card{
    height:100%
}

.top-dest .card-wrapper {
margin-bottom: 30px;
}

.top-dest .card {
display: inline-block;
position: relative;
overflow: hidden;
min-height: 400px;
height: 100%;
}
.top-dest .card:hover {
box-shadow: 8px 12px 31px -10px #ab98ab;
}
.top-dest .card-img-wrapper {
display: flex;
align-items: center;
justify-content: center;
height: 50%;
overflow: hidden;
}
.top-dest .card-img-wrapper img {
transition: 1.5s ease;
}
.top-dest .card:hover .card-img-wrapper img {
transform: scale(1.15);
}
.top-dest  .card-body .card-title {
margin-bottom: calc(50% + 20px);
transition: 1.5s ease;
}
.top-dest .card:hover .card-body .card-title {
margin-bottom: .75rem;
}

.top-dest  .card-body {
position: absolute;
bottom: 0;
left: 0;
right: 0;
height: 50%;
background-color: #fff;
transition: 1.5s ease;
}
.top-dest  .card-content {
left: 0;
right: 0;
overflow: hidden;
width: 100%;
height: auto;
transition: 1.5s ease;
}
.top-dest .card:hover .card-body {
height: 80%;
}
.top-dest  .card:hover .card-content {
bottom: 0;
}

.top-dest img{
    max-height: 250px;
}


/* news secdtion */

.new-event .card{
height: 100%;
box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
transition-duration: 1s;
}

.new-event .card:hover{
    -ms-transform: scaleY(0.9); /* IE 9 */
    transform: scaleY(0.9);
    transition-duration: 1s;
}



.new-event .card .image-box{
background: #ffffff;
overflow: hidden;

border-radius: 5px;
}


.new-event .card img{
-webkit-transition:all .9s ease; 
-moz-transition:all .9s ease; 
-o-transition:all .9s ease;
-ms-transition:all .9s ease; 
width: 100%;
height: 175px;
}

.new-event .card img:hover{
opacity: 0.7;
-webkit-transform:scale(1.15);
-moz-transform:scale(1.15);
-ms-transform:scale(1.15);
-o-transform:scale(1.15);
transform:scale(1.15);

}


.side-top-destinations{
    margin-top: 15px;
}

.side-top-destinations a:hover{
    background-color: #007b5e !important;
    color: #fff;
}




/* footer */

footer{
    background-color: #226c6f;
    color: #fff;
}

footer .kdtz-footer p,footer .kdtz-footer a{
 color: #dcf6f7;
}

footer a.fab{
    font-size: 30px;
    margin-right: 15px;
    color: white;
}

footer a.fab:hover{
    color: rgb(255, 66, 66);
    text-decoration: none;
}


footer a{
    color: white;
}

footer a:hover{
    text-decoration: none;
    color: rgb(50, 194, 98);
}

/* business listing */

.business-listing #featured-business{
    background-color: #e2e2e200 !important; 
    /* padding-left: 0px !important;
    padding-right: 0px !important;*/
     margin-top: 0% !important; 
     padding-top: 0% !important; 

}


/* background */
.bb-news, .bb-business, .bb-destinations{
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #dcf6f7b5;
    padding: 30px 0px 20px 0px;
    background-position-y: center;
}


.bb-news{
    background-image: url("../images/news/news.jpg");
}

.bb-business{
    background-image: url("../images/news/market.jpg");   
}

.bb-destinations{
    background-image: url("../images/news/destination.jpg");
}






/* news */

body{margin-top:20px;}
.home-blog {
    padding-top: 80px;
    padding-bottom: 80px;
}
@media (min-width: 992px) {
    .home-blog {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
.home-blog .section-title {
    padding-bottom: 15px;
}
.home-blog .media {
    margin-top: 50px;
}
@media (min-width: 768px) {
    .home-blog .media {
        margin-top: 30px;
    }
}
.bg-sand {
    background-color: #f5f5f6;
}
.media.blog-media {
    margin-top: 30px;
    position: relative;
    display: block;
}
@media (min-width: 992px) {
    .media.blog-media {
        display: table;
    }
}
.media.blog-media .circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    position: absolute;
    padding: 0;
    top: 20px;
    left: 20px;
    text-align: center;
    box-shadow: none;
    transform: translateX(0);
    color: #fff;
    transition: background-color 0.3s ease;
}
.media.blog-media .circle .day {
    color: #fff;
    transition: color 0.25s ease;
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    margin-top: 12px;
}
.media.blog-media .circle .month {
    text-transform: uppercase;
    font-size: 14px;
}
.media.blog-media > a {
    position: relative;
    display: block;
}
@media (min-width: 992px) {
    .media.blog-media > a {
        display: table-cell;
        vertical-align: top;
        min-width: 260px;
    }
}
@media (min-width: 1200px) {
    .media.blog-media > a {
        min-width: 305px;
    }
}
.media.blog-media > a:before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.3s ease, opacity 0.05s;
    background: rgba(216, 3, 7, 0.4);
}
.media.blog-media > a img {
    width: 100%;
}
.media.blog-media:hover > a:before {
    opacity: 1;
    transform: scale(1);
}
.media.blog-media:hover .circle {
    background-color: rgba(255, 255, 255, 0.9);
}
.media.blog-media:hover .circle .day,
.media.blog-media:hover .circle .month {
    color: #222;
}
.media.blog-media:hover .media-body h5 {
    color: #007b5e;
}
.media-body h5, .media-body a {
    color: #020202;
    text-decoration: none;
}


.media.blog-media:hover .media-body a.post-link {
    color: #007b5e;
    text-decoration: underline;
}
.media.blog-media .media-body {
    border: 1px solid #efeff3;
    padding: 30px 30px 10px;
    font-size: 14px;
    background: #fff;
    border-top: none;
}
@media (min-width: 992px) {
    .media.blog-media .media-body {
        padding: 15px 20px 10px;
        border-top: 1px solid #efeff3;
        border-left: none;
        display: table-cell;
        vertical-align: top;
    }
}
@media (min-width: 1200px) {
    .media.blog-media .media-body {
        padding: 30px 20px 10px;
    }
}
.media.blog-media .media-body h5 {
    transition: color 0.3s ease;
    margin-bottom: 15px;
}
@media (min-width: 992px) {
    .media.blog-media .media-body h5 {
        font-size: 15px;
    }
}
@media (min-width: 1200px) {
    .media.blog-media .media-body h5 {
        margin-bottom: 15px;
        font-size: 18px;
    }
}
.media.blog-media .media-body a.post-link {
    display: block;
    color: #222;
    font-size: 11px;
    padding: 23px 0;
    text-transform: uppercase;
    font-weight: 400;
}
@media (min-width: 992px) {
    .media.blog-media .media-body a.post-link {
        padding: 7px 0;
    }
}
@media (min-width: 1200px) {
    .media.blog-media .media-body a.post-link {
        padding: 23px 0;
    }
}
.media.blog-media .media-body ul {
    position: relative;
    padding: 10px 0 0;
}
.media.blog-media .media-body ul li {
    display: inline-block;
    width: 49%;
    position: relative;
}
.media.blog-media .media-body ul li:before {
    position: absolute;
    content: "";
    top: 5px;
    left: 0;
    width: 1px;
    height: 14px;
    background: #eeeef2;
}
.media.blog-media .media-body ul li:first-child:before {
    visibility: hidden;
}
.media.blog-media .media-body ul:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #eeeef2;
}






/* news blog design */



body{margin-top:20px;}
.blog-listing {
    padding-top: 30px;
    padding-bottom: 30px;
}
.gray-bg {
    background-color: #f5f5f5;
}
/* Blog 
---------------------*/
.blog-grid {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
}
.blog-grid .blog-img {
  position: relative;
}
.blog-grid .blog-img .date {
  position: absolute;
  background: #007b5e;
  color: #ffffff;
  padding: 8px 15px;
  left: 10px;
  top: 10px;
  border-radius: 4px;
}
.blog-grid .blog-img .date span {
  font-size: 22px;
  display: block;
  line-height: 22px;
  font-weight: 700;
}
.blog-grid .blog-img .date label {
  font-size: 14px;
  margin: 0;
}
.blog-grid .blog-info {
  padding: 20px;
}
.blog-grid .blog-info h5 {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 10px;
}
.blog-grid .blog-info h5 a {
  color: #000;
}
.blog-grid .blog-info p {
  margin: 0;
}
.blog-grid .blog-info .btn-bar {
  margin-top: 20px;
}


/* Blog Sidebar
-------------------*/
.blog-aside .widget, .media {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.blog-aside .widget-body {
  padding: 15px;
}
.blog-aside .widget-title {
  padding: 15px;
  border-bottom: 1px solid #eee;
}
.blog-aside .widget-title h3 {
  font-size: 20px;
  font-weight: 700;
  color: #007b5e;
  margin: 0;
}
.blog-aside .widget-author .media {
  margin-bottom: 15px;
}
.blog-aside .widget-author p {
  font-size: 16px;
  margin: 0;
}
.blog-aside .widget-author .avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  margin-top: 5px;
}
.blog-aside .widget-author h6 {
  color: #000;
  font-size: 18px;
  margin: 0;
  text-align: center;
  margin-bottom: 5px;
  
}
.blog-aside .post-aside {
  margin-bottom: 15px;
}
.blog-aside .post-aside .post-aside-title h5 {
  margin: 0;
}
.blog-aside .post-aside .post-aside-title a {
  font-size: 18px;
  color: #000;
  font-weight: 600;
}
.blog-aside .post-aside .post-aside-meta {
  padding-bottom: 10px;
}
.blog-aside .post-aside .post-aside-meta a {
  color: #6F8BA4;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}
.blog-aside .latest-post-aside + .latest-post-aside {
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 15px;
}
.blog-aside .latest-post-aside .lpa-right {
  width: 90px;
}
.blog-aside .latest-post-aside .lpa-right img {
  border-radius: 3px;
}
.blog-aside .latest-post-aside .lpa-left {
  padding-right: 15px;
}
.blog-aside .latest-post-aside .lpa-title h5 {
  margin: 0;
  font-size: 15px;
}
.blog-aside .latest-post-aside .lpa-title a {
  color: #000;
  font-weight: 600;
}
.blog-aside .latest-post-aside .lpa-title a:hover{
    color:#fff;
}
.blog-aside .latest-post-aside .lpa-meta a {
  color: #6F8BA4;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}

.blog-aside .latest-post-aside .lpa-meta a:hover {
    background-color: #fff !important;
}


.tag-cloud a {
  padding: 4px 15px;
  font-size: 13px;
  color: #ffffff;
  background: #000;
  border-radius: 3px;
  margin-right: 4px;
  margin-bottom: 4px;
}
.tag-cloud a:hover {
  background: #007b5e;
}

.blog-single {
  padding-top: 15px;
  padding-bottom: 15px;
}

.article {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  padding: 15px;
  margin: 15px 0 30px;
}
.article .article-title {
  padding: 15px 0 20px;
}
.article .article-title h6 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}
.article .article-title h6 a {
  text-transform: uppercase;
  color: #007b5e;
  border-bottom: 1px solid #007b5e00;
  text-decoration: none;
}
.article .article-title h6 a:hover {
    border-bottom: 1px solid #007b5e;
  }
.article .article-title h2 {
  color: #000;
  font-weight: 600;
}
.article .article-title .media {
  padding-top: 15px;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 20px;
}
.article .article-title .media .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}

.article .article-title .media .media-body label {
  font-weight: 600;
  color: #007b5e;
  margin: 0;
}
.article .article-title .media .media-body span {
  display: block;
  font-size: 12px;
}
.article .article-content h1,
.article .article-content h2,
.article .article-content h3,
.article .article-content h4,
.article .article-content h5,
.article .article-content h6 {
  color: #000;
  font-weight: 600;
  margin-bottom: 15px;
}
.article .article-content blockquote {
  max-width: 600px;
  padding: 15px 0 30px 0;
  margin: 0;
}
.article .article-content blockquote p {
  font-size: 20px;
  font-weight: 500;
  color: #007b5e;
  margin: 0;
}
.article .article-content blockquote .blockquote-footer {
  color: #000;
  font-size: 16px;
}
.article .article-content blockquote .blockquote-footer cite {
  font-weight: 600;
}
.article .tag-cloud {
  padding-top: 10px;
}

.article-comment {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  padding: 20px;
}
.article-comment h4 {
  color: #000;
  font-weight: 700;
  margin-bottom: 25px;
  font-size: 22px;
}
img {
    max-width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}

/* Contact Us
---------------------*/
.contact-name {
  margin-bottom: 30px;
}
.contact-name h5 {
  font-size: 22px;
  color: #000;
  margin-bottom: 5px;
  font-weight: 600;
}
.contact-name p {
  font-size: 18px;
  margin: 0;
}

.social-share a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  margin-right: 10px;
}
.social-share .dribbble {
  box-shadow: 0 8px 30px -4px rgba(234, 76, 137, 0.5);
  background-color: #ea4c89;
}
.social-share .behance {
  box-shadow: 0 8px 30px -4px rgba(0, 103, 255, 0.5);
  background-color: #0067ff;
}
.social-share .linkedin {
  box-shadow: 0 8px 30px -4px rgba(1, 119, 172, 0.5);
  background-color: #0177ac;
}

.contact-form .form-control {
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  border-radius: 0;
  padding-left: 0;
  box-shadow: none !important;
}
.contact-form .form-control:focus {
  border-bottom: 1px solid #007b5e;
}
.contact-form .form-control.invalid {
  border-bottom: 1px solid #ff0000;
}
.contact-form .send {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .contact-form .send {
    margin-bottom: 20px;
  }
}

.section-title h2 {
    font-weight: 700;
    color: #000;
    font-size: 45px;
    margin: 0 0 15px;
    border-left: 5px solid #007b5e;
    padding-left: 15px;
}
.section-title {
    /* padding-bottom: 45px; */
}
.contact-form .send {
    margin-top: 20px;
}
.px-btn {
    padding: 0 50px 0 20px;
    line-height: 60px;
    position: relative;
    display: inline-block;
    color: #000;
    background: none;
    border: none;
}
.px-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 30px;
    background: transparent;
    border: 1px solid rgba(252, 83, 86, 0.6);
    border-right: 1px solid transparent;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    width: 60px;
    height: 60px;
}
.px-btn .arrow {
    width: 13px;
    height: 2px;
    background: currentColor;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 25px;
}
.px-btn .arrow:after {
    width: 8px;
    height: 8px;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    content: "";
    position: absolute;
    top: -3px;
    right: 0;
    display: inline-block;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
